<div class="row">
  <div class="col-md-12">
    <form [formGroup]="formTaskEdit" (ngSubmit)="onsubmit()">
      <!-- Campo Nombre -->
      <div class="form-group">
        <label for="exampleFormControlInput1">Nombre de la tarea</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="name" [ngClass]="{'is-valid': formTaskEdit.get('name')?.valid && formTaskEdit.get('name')?.touched, 'is-invalid': formTaskEdit.get('name')?.invalid && formTaskEdit.get('name')?.touched}">
        <div class="invalid-feedback" *ngIf="formTaskEdit.get('name')?.invalid && formTaskEdit.get('name')?.touched">
          <small *ngIf="formTaskEdit.get('name')?.hasError('required')">El nombre es obligatorio.</small>
          <small *ngIf="formTaskEdit.get('name')?.hasError('maxlength')">No puede tener más de 50 caracteres.</small>
          <small *ngIf="formTaskEdit.get('name')?.hasError('minlength')">No puede tener menos de 5 caracteres.</small>
        </div>
      </div>
      <!-- Campo Descripción -->
      <div class="form-group">
        <label for="description">Descripción</label>
        <textarea class="form-control" id="description"  rows="1"  formControlName="description" [ngClass]="{'is-valid': formTaskEdit.get('description')?.valid && formTaskEdit.get('description')?.touched,'is-invalid': formTaskEdit.get('description')?.invalid && formTaskEdit.get('description')?.touched}"></textarea>
        <div *ngIf="formTaskEdit.get('description')?.invalid && formTaskEdit.get('description')?.touched">
          <small *ngIf="formTaskEdit.get('description')?.hasError('required')">La descripción es obligatoria.</small>
        </div>
      </div>
      <!-- Campo Prioridad -->
      <div class="form-group">
        <label for="exampleFormControlSelect1">Prioridad</label>
        <select class="form-control"  id="exampleFormControlSelect1" formControlName="priority" [ngClass]="{'is-valid': formTaskEdit.get('priority')?.valid && formTaskEdit.get('priority')?.touched,'is-invalid': formTaskEdit.get('priority')?.invalid && formTaskEdit.get('priority')?.touched}">
          <option value="H">Alta</option>
          <option value="M">Media</option>
          <option value="L">Baja</option>
        </select>
        <div *ngIf="formTaskEdit.get('priority')?.invalid && formTaskEdit.get('priority')?.touched">
          <small *ngIf="formTaskEdit.get('priority')?.hasError('required')">La prioridad es obligatoria.</small>
        </div>
        <div *ngIf="formTaskEdit.get('priority')?.invalid && formTaskEdit.get('priority')?.touched">
            <small *ngIf="formTaskEdit.get('priority')?.hasError('invalidPriority')">La prioridad debe ser indicada con L , M o H.</small>
        </div>
      </div>
      <!-- Campo Fecha de Expiración -->
      <div class="form-group">
        <label for="exampleFormControlInput1">Fecha de Expiración</label>
        <input type="datetime-local" class="form-control"  formControlName="expireDate"  [ngClass]="{'is-valid': formTaskEdit.get('expireDate')?.valid && formTaskEdit.get('expireDate')?.touched,'is-invalid': formTaskEdit.get('expireDate')?.invalid && formTaskEdit.get('expireDate')?.touched}">
        <div *ngIf="formTaskEdit.get('expireDate')?.invalid && formTaskEdit.get('expireDate')?.touched">
          <small *ngIf="formTaskEdit.get('expireDate')?.hasError('required')">La fecha de expiración es
            obligatoria.</small>
        </div>
        <div>
          <small *ngIf="formTaskEdit.get('expireDate')?.hasError('invalidDate')">La fecha de expiración no puede ser menor a la fecha actual.</small>
      </div>
      </div>
      <!-- Boton -->
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </form>
  </div>
</div>
